  <li>
    <a href="https://www.researchgate.net/profile/Wellison_Jarles_Diniz" itemprop="sameAs">
     <i class="fab fa-researchgate"></i> ResearchGate
    </a>
  </li>

  <li>
    <a href="https://orcid.org/0000-0003-1082-5535" itemprop="sameAs">
      <i class="fab fa-orcid"></i> ORCID
    </a>
  </li>

  <li>
    <a href="hthttps://www.ndsu.edu/" itemprop="sameAs">
      <i class="fas fa-university"></i> NDSU
    </a>
  </li>

    <li>
    <a href="https://scholar.google.com/citations?user=asgTMw4AAAAJ&hl=en" itemprop="sameAs">
      <i class="fas fa-graduation-cap"></i> Google Scholar
    </a>
  </li>
